<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Order History</title>

  <link rel="icon" type="image/png" sizes="16x16" href="/icons/arrow.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <nav class="navbar">
    <div class="navbar-left">
      <span>Welcome,<span th:text="${user.username}">Username</span></span>
    </div>
    <div class="navbar-right">
      <span>User ID: <span th:text="${user.userid}">UserID</span></span>
      <a href="/user" class="dashboard-btn">Back to Dashboard</a>
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  </nav>

  <div class="container">
    <h2 style="display: flex;
      align-items: stretch;
      align-content: center; gap: 3px">
      <img src="/icons/documents.png" alt="Icon Description">
      <span style="align-self: center;">Order History</span>
    </h2>

    <!-- Table to display order history -->
    <table>
      <tr>
        <th>Stock Symbol</th>
        <th>Company Name</th>
        <th>Stock Price</th>
        <th>Quantity</th>
        <th>Order Price</th>
        <th>Order Type</th>
        <th>Date of Purchase</th>
      </tr>
      <tr th:each="order : ${orderHistory}">
        <td th:text="${order.stockSymbol}"></td>
        <td th:text="${order.companyName}"></td>
        <td th:text="${order.stockPrice}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.orderPrice}"></td>
        <td th:text="${order.orderType}"></td>
        <td th:text="${#dates.format(order.orderDate, 'MM-dd-yyyy, HH:hh:mm')}"></td>
      </tr>
    </table>
  </div>

</body>

</html>