<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Order History for <span th:text="${user.username}"></span></h1>

    <!-- Table to display order history -->
    <table>
        <tr>
            <th>Stock Symbol</th>
            <th>Company Name</th>
            <th>Stock Price</th>
            <th>Quantity Purchased/Sold</th>
            <th>Order Price</th>
            <th>Order Type</th>
            <th>Date of Purchase</th>
        </tr>
        <tr th:each="order : ${orderHistory}">
            <td th:text="${order.stockSymbol}"></td>
            <td th:text="${order.companyName}"></td>
            <td th:text="${order.stockPrice}"></td>
            <td th:text="${order.quantity}"></td>
            <td th:text="${order.orderPrice}"></td>
            <td th:text="${order.action}"></td>
            <td th:text="${order.orderDate}"></td>
        </tr>
    </table>

    <!-- Button to go back to user dashboard -->
    <a href="/user">Back to Dashboard</a>
    <a href="/logout">Logout</a>
</body>
</html>
